<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>超星尔雅题库数据添加</title>
</head>
<style>
    input{
        width: 600px;
    }
</style>
<body style="text-align: center">
 <h1>超星尔雅题库数据添加</h1>
 <p>-------------------------</p>
 <h2>自动添加</h2>
 <div>
     <input type="text" id="url" placeholder="请输入题库url" /><br>
     <input type="text" id="cookie" placeholder="请输入题库cookie" /><br>
     <input type="text" id="referer" placeholder="请输入题库referer"/><br>
     <input type="button" onclick="add1()" value="提交">
 </div>
 <h2>手动添加</h2>
 <div>
     <input type="text" id="title" placeholder="题目"/><br>
     <input type="text" id="optionA" placeholder="选项a"/><br>
     <input type="text" id="optionB" placeholder="选项b"/><br>
     <input type="text" id="optionC" placeholder="选项c"/><br>
     <input type="text" id="optionD" placeholder="选项d"/><br>
     <input type="text" id="answer" placeholder="答案选项"/><br>
     <input type="text" id="answerString" placeholder="答案描述"/><br>
     <input type="button" onclick="add2()" value="提交">
 </div>
</body>
<script src="../share/vendor/jquery/jquery.min.js"></script>
<script>
    function add1() {
        var url = $('#url').val();
        var cookie = $('#cookie').val();
        var referer = $('#referer').val();
        if(!(url && cookie &&referer )) {
            alert("请填写自动添加表单！！")
            return false
        }
        $.post('/question/fastAdd',{
            url  : url,
            cookie  : cookie,
            referer  : referer
        },function (data) {
            alert(data)
        })
    };

    function add2() {
        //添加信息
        var questionInfo = {
            title: $('#title').val(),
            optionA: $('#optionA').val(),
            optionB: $('#optionB').val(),
            optionC: $('#optionC').val(),
            optionD:$('#optionD').val(),
            answer:$('#answer').val(),
            answerString:$('#answerString').val()
        }
        $.ajax({
            url: '/question/fromAdd',
            type: 'POST',
            data: JSON.stringify(questionInfo),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                    alert(data);
            }
        })
    }
</script>
</html>